<p>
  <h3><%= @note.title %></h3>  
  <%= button_to 'Delete', @note, method: :delete, data: {confirm: 'Are you sure?'} %>
  <%= button_to 'Edit', edit_note_path(@note), method: :get %>
</p>

<textarea id="text-input" oninput="this.editor.update()" style="display: none;">
  <%= @note.body %>
</textarea>

<div id="preview"> </div>
<script>
  function Editor(input, preview) {
    this.update = function () {
      preview.innerHTML = markdown.toHTML(input.value);
    };
    input.editor = this;
    this.update();
  }

  var $ = function (id) { return document.getElementById(id); };
  new Editor($("text-input"), $("preview"));
</script>
