<p>
  <h1>8,760 Hours</h1>
  <h3>2016 In Review, 2017 Planning</h3>
</p>

<p>
  <h3>Contents</h3>
  <ul>
    <li><strong>Values & Purpose</strong></li>
      <em>Underlying purpose in life. Philosphy in life. Vision and meaning.</em>
    <li><strong>Location & Tangibles</strong></li>
      <em>Where I am. Living situation. Travel. What I own and why. Material sufficiency/dependence</em>
    <li><strong>Money, Finances & Business</strong></li>
      <em>Savings, investments, assets and debt. Cash flow and net worth.</em>
    <li><strong>Fitness & Physical Health</strong></li>
      <em>Strength, aesthetics, mobility and injuries. Sleep patterns, drug usage and overall energy levels.</em>
    <li><strong>Emotional & Mental Health</strong></li>
      <em>My general feelings towards life, existence, positivity and negativity. Subjective well-being. General thoughts.</em>
    <li><strong>Education & Cognitive Skills</strong></li>
      <em>My learning and education, reading and acquisition of cognitive skillsets. Sideprojects. Practice and training</em>
    <li><strong>Social Life & Relationships</strong></li>
      <em>Intimate relationships, friendships, family, friends. Meeting new people, social interactions, social circles, online and offline.</em>
    <li><strong>Character & Identity</strong></li>
      <em>My identity and model of myself. Strengths, weaknesses, virtues and vices. Intelligence, honesty, courage, compassion, honor and self-discipline.</em>
    <li><strong>Productivity & Organization</strong></li>
      <em>Mental models. Daily routine, scheduling and tardiness. My setup, systems, proccesses, tools, techniques.</em>
    <li><strong>Planning 2017</strong></li>
  </ul>

  <h3>Evaluation & Criteria</h3>
    <ul>
      <li>What went well?</li>
      <li>What did not go well?</li>
      <li>Where did you I try hard?</li>
      <li>Where did I not try hard enough? Where could I have tried harder?</li>
      <li>What is the current situation now?</li>
      <li>How would I summarize the status of this area to a friend?</li>
    </ul>
    In addition to this, I should ask the following questions of each item:
    <ul>
      <li>What is my most important problem here?</li>
      <li>What is the biggest bottleneck?</li>
      <li>What single thing is holding me back from my greatest potential (in this domain)?</li>
      <li>What single thing, if successfully performed, would have the biggest positive impact?</li>
    </ul>
    Thoughts should be both objective and subjective, denoting which thought or answer is which.
</p>

<p>
  <h2>Values & Purpose</h2>
  <em></em>
</p>

<p>
  <h2>Location & Tangibles</h2>
  <em></em>
</p>

<p>
  <h2>Money, Finances & Business</h2>
  <em></em>
</p>

<p>
  <h2>Fitness & Physical Health</h2>
  <em></em>
</p>

<p>
  <h2>Emotional & Mental Health</h2>
  <em></em>
</p>

<p>
  <h2>Education & Cognitive Skills</h2>
  <em></em>
</p>

<p>
  <h2>Social Life & Relationships</h2>
  <em></em>
</p>

<p>
  <h2>Character & Identity</h2>
  <em></em>
</p>

<p>
  <h2>Productivity & Organization</h2>
  <em></em>
</p>
