<p>
  <h1>8,760 Hours</h1>
  <h3>2016 In Review, 2017 Planning</h3>
</p>

<p>
  <h3>Contents</h3>
  <ul>
    <li>Values & Purpose</li>
      <em>Underlying purpose in life. Philosphy in life. Vision and meaning.</em>
    <li>Location & Tangibles</li>
      <em>Where I am. Living situation. Travel. What I own and why. Material sufficiency/dependence</em>
    <li>Money, Finances & Business</li>
      <em>Savings, investments, assets and debt. Cash flow and net worth.</em>
    <li>Fitness & Physical Health</li>
      <em>Strength, aesthetics, mobility and injuries. Sleep patterns, drug usage and overall energy levels.</em>
    <li>Emotional & Mental Health</li>
      <em>My general feelings towards life, existence, positivity and negativity. Subjective well-being. General thoughts.</em>
    <li>Education & Cognitive Skills</li>
      <em>My learning and education, reading and acquisition of cognitive skillsets. Sideprojects. Practice and training</em>
    <li>Social Life & Relationships</li>
      <em>Intimate relationships, friendships, family, friends. Meeting new people, social interactions, social circles, online and offline.</em>
    <li>Character & Identity</li>
      <em>My identity and model of myself. Strengths, weaknesses, virtues and vices. Intelligence, honesty, courage, compassion, honor and self-discipline.</em>
    <li>Productivity & Organization</li>
      <em>Mental models. Daily routine, scheduling and tardiness. My setup, systems, proccesses, tools, techniques.</em>
    <li>Planning 2017<li>
  </ul>
</p>

<p>
  <h2>Values & Purpose</h2>
</p>
