<!DOCTYPE html>
<html>
<head>
  <title>Strongcode</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="main-container" class="container-fluid">
  <% unless current_user.nil? %>
    <span class="header">
      <a href="/today">/today</a>
      <a href="/health">/health</a>
      <a href="/journal_entries">/thoughts</a>
      <a href="/weights/new">/weight</a>
      <a href="/notes">/notes</a>
    </span>
  <% end %>
    <%= yield %>
  </div>
</body>
</html>
